#userInput{
    height: 500px;
    width: 1400px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
#UIContent {
    width: 1120px;
    height: 405px;
    margin: 0 auto;
    -webkit-animation:taufik 2s;
    -moz-animation:taufik 2s;
    animation:taufik 2s;
}
#UIContent #Sequencer .Checkbox{
    margin-top: 1px;
    padding: 3.69px;
    left: 52px;
    top: 29.5px;
    width: 48.5px;
    height: 40px;
    background-color: transparent;
}
#UIContent #Sequencer .Checkbox .ui-button-text {
    height: 100%;
    width: 100%;
    padding: 0px;
}
#UIContent #Sequencer .Indicator{
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 1.5px;
    background-color: yellow;
    opacity: 0;
    transition: opacity 0.1s;
}
#UIContent #Sequencer .Indicator.Lit{
    opacity: 1;
}
.Slider {
    display: inline-block;
    margin-bottom: 20px;
    width: 216px;
}

#Sequencer{
  background-image: url("../img/drumpad001.png");
  padding-top: 2.3%;
  height: 360px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5%;
}
.Checkbox{
    border-color: transparent;
}

/* Drumpad Icons */
#drumpad-icons {
  position: absolute;
  margin-top: 46px;
}

#drumpad-icons img {
  box-sizing: border-box;
  display: block;
  width: 41px;
  margin: 11px;
  border: 1px solid rgba(141, 114, 114, 0.61);
  border-radius: 4px;
  box-shadow: 2px 2px 5px #aaa;
}
