#userInput{
/*    background-image: url("../img/drummachinecompressed.png");*/
    height: 500px;
    width: 1400px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
#Content {
    width: 1120px;
    height: 400px;
    background-image: url("../img/drumpad001.png");
}
#Content #Sequencer .Checkbox{
    margin-top: 0px;
    padding: 3px;
    left: 56px;
    top: 32px;
    width: 55.5px;
    height: 47px;
    background-color: transparent;
}
#Content #Sequencer .Checkbox .ui-button-text {
    height: 100%;
    width: 100%;
    padding: 0px;
}
#Content #Sequencer .Indicator{
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 1.5px;
    background-color: yellow;
    opacity: 0;
    transition: opacity 0.1s;
}
#Content #Sequencer .Indicator.Lit{
    opacity: 1;
}
.Slider {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 14%;
    margin-left: 43%;
}
#Sequencer{
    padding-top: 2.5%;
}
.Checkbox{
    border-color: transparent;
}