#userInput{
/*    background-image: url("../img/drummachinecompressed.png");*/
    height: 500px;
    width: 1400px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
#UIContent {
    width: 1120px;
    height: 405px;
    background-image: url("../img/drumpad001.png");
    -webkit-animation:taufik 2s;
    -moz-animation:taufik 2s;
    animation:taufik 2s;
}
#UIContent #Sequencer .Checkbox{
    margin-top: 0px;
    padding: 3px;
    left: 56px;
    top: 32px;
    width: 55.5px;
    height: 47px;
    background-color: transparent;
}
#UIContent #Sequencer .Checkbox .ui-button-text {
    height: 100%;
    width: 100%;
    padding: 0px;
}
#UIContent #Sequencer .Indicator{
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 1.5px;
    background-color: yellow;
    opacity: 0;
    transition: opacity 0.1s;
}
#UIContent #Sequencer .Indicator.Lit{
    opacity: 1;
}
.Slider {
    display: inline-block;
    margin-bottom: 20px;
    width: 192px;
}

#Sequencer{
    padding-top: 2.5%;
}
.Checkbox{
    border-color: transparent;
}

.open-login {
    display: none;
}

.open {
    display: none;
}
