html{
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*------ Transport view ------*/

#keys {
    margin: 0 auto;
    padding-right: 69px;
    width: 546px;
}

.octave {
    margin-right: 5px;
    width: 64px;
}

.transportEl, .transportControls {
  margin: 0 auto;
  width: 182px;
}

.transportEl {
  border: 1px solid darkgray;
  border-radius: 14px;
  box-shadow: inset 2px 2px 12px 3px lightgray;
  padding: 4px;
  text-align: center;
}

.transportControls {
  margin-bottom: 10px;
}

/*------ Track view ------*/

.track-container{
  border: 1px solid black;
  padding: 10px;
  height: 115px;
  position: relative;
}

.track-controls {
  border: 1px solid grey;
  padding: 10px;
  width: 22%;
  float: left;
}

.track-notes {
 border: 1px solid grey;
 padding: 10px;
 width: 70%; 
 height: 82%;
 float: right;
}

.track-title{
  font-size: 18px;
  font-weight: bold;
}

p.track-title {
  display: inline-block;
}

.delete-track-button{
  float:right;
}