html {
  background-color: rgba(44,62,80,1);
  position: relative;
  min-height: 1000px;
}
html:after {
  content: "";
  background: url('../img/random_grey_variations.png'); 
  background-repeat: repeat;
  background-size: auto auto; 
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body {
  /*background-color: #2C3E50;*/
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
}

body, .Value #Label, .Value #Value, button, .ui-widget, li a span, button.clear-drumPad-button {
  font: 14px "Julius Sans One";
}


button {
  font-size: 12px;
}

.filterLayerz {
  background-color: white;
  height: 100%;
  left: 0px;
  margin: 0px auto;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -100;
}


.appBody{
  margin-top: 64px;
  min-width: 1186px;
}

a {
  color: #00B7FF;
}


/*------ Transport view ------*/

/*#keys {
    margin: 0 auto;
    padding-right: 69px;
    width: 546px;
}*/

/*.octave {
    margin-right: 5px;
    width: 64px;
}*/

.controlsContainer{
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  vertical-align: top;
}

.Value #Label, .Value #Value {
  font-size: 14px;
}

.transportEl, .transportControls, .Slider {
  /*width: 209px;*/
}

.exportContainer {
  display: inline-block;
  position: relative;
  bottom: 22px;
  margin-right: 10px;
  width: 112px;
}

.exportContainer button {
  display: block;
  height: 21px;
}

#save-song{
  width: 100%;
  margin-top: 3px;
}

.transportEl, .Value {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 14px;
  padding: 4px 0px 2px 0px;
  text-align: center;
}

.transportControls {
  margin-top: 3px;
}

.transportView{
  margin: auto;
  position: relative;
  width: 570px;
}

.transportBar {
  fill: none;
  stroke: #98FB98;
  stroke-width: 2;
}

.transportBar.recordOn {
  fill: none;
  stroke: red;
  stroke-width: 2;
}

.Value #Value {
  background-color: transparent;
  color: black;
}

.Value {
  height: 15px;
}

#metronome {
/*  background-color: transparent;
  background-image: url('../img/IconMetronome.png');
  width: 48px;
  height: 48px;*/
}

.metronomeOn {
  background-color: green;
}

.play {
  background-color: green;
}

.recordOn {
  background-color: red;
  color : white;
}

.fa {
  padding-top: 3px;
}



/*------ Track view ------*/

.track-container{
  background: linear-gradient(to bottom, #d9d9d9 0%, #bfbfbf 100%);;
  border: 1px solid grey;
  border-radius: 4px;
  height: 140px;
  margin-bottom: 6px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #000000;
}

.track-controls {
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
  border: 1px solid grey;
  height: 82%;
  padding: 10px;
  width: 25%;
  float: left;
  border-radius: 4px;
}

.add-track-button, .solo-track-button, .mute-track-button {
  padding-top: 4px;
}

.track-notes {
 border: 1px solid grey;
 padding: 10px;
 width: 70%;
 height: 82%;
 float: right;
 border-radius: 4px;
 background-color: #ECF0F1;
}

.track-title{
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

p.track-title {
  display: inline-block;
}

.track-volume-slider-group {
  display: inline-block;
  margin-left: 5px;
}

.track-volume-slider {
  padding-top: 2px;
}

.delete-track-button{
  float:right;
}

.muted{
  background-color: red;
}

.active-track {
  border: 2px solid #98FB98;
}

.activeNote {
  fill: yellow;
  stroke: yellow;
}

/* Styling for grid lines */

svg {
  overflow: scroll;
}

.axis path{
    fill: none;
    stroke: none;
}
.axis line{
    fill: none;
    stroke: black;
}

.line{
    fill: none;
    stroke: black;
    opacity: 0.2;
}

.tick text{
    font-size: 0px;
}

.tick line{
    opacity: 0.2;
}

wave {
  overflow-x: hidden;
}

.drop {
  height: 100%;
  position: relative;
}
.drop:before {
  content: "Drop your audio file in here!";
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -7px;
  margin-left: -112px;
}

.wavesurfer-dragover {
  border: 2px solid red;
    -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
}

/*Piano Keyboard View*/

button.octave {
  margin-bottom: 2px;
}

#p-wrapper:focus {
  outline:none !important;
}

#p-wrapper {
  background:#000;
  width:960px;  /* set the width of piano here */
  position:relative;
  left:-20px;
  box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  border:2px solid #333;
  border-radius:0 0 5px 5px;
  -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
  margin: 0 auto;
  padding: 0;
  list-style:none;
}

ul#piano {
  display:block;
  /*width:100%; */
  height:240px;
  border-top:2px solid #222;
}

ul#piano li {
  list-style:none;
  float:left;
  display:inline;
  background:#aaa;
  width:40px;
  position:relative;
}

ul#piano li a,ul#piano li div.anchor {
  display:block;
  height:220px;
  background:#fff;
  background:linear-gradient(-30deg,#f5f5f5,#fff);
  border:1px solid #ccc;
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  border-radius:0 0 3px 3px;
}

ul#piano li a:active,ul#piano li div.anchor:active {
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height:216px;
}

.keyboardPress {
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height:216px !important;
}

#piano li a:active:before, div.anchor:active:before , .keyboardPress:before{
  content:"";
  width:0px;
  height:0px;
  border-width:216px 5px 0px;
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}

#piano li a:active:after, div.anchor:active:after, .keyboardPress:after {
  content:"";
  width:0px;
  height:0px;
  border-width:216px 5px 0px;
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

/* Black Tuts */
#piano li span {
  position:absolute;
  top:0px;
  left:-12px;
  width:20px;
  height:120px;
  background:#333;
  background:linear-gradient(-20deg,#333,#000,#333);
  z-index:10;
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  border-radius:0 0 2px 2px;
}

#piano li span:active{
  border-bottom-width:2px;
  height:123px;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

#piano li span.anchor.keyboardPressBlackKey {
  border-bottom-width:2px;
  height:123px;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

/* Animation */
@-webkit-keyframes taufik{
  from{opacity:0;}
  to{opacity:1;}
}
@-moz-keyframes taufik{
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes taufik{
  from{opacity:0;}
  to{opacity:1;}
}
/*End Piano Keyboard*/

.clear-drumPad-button{
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-size: 2px;
  margin: 0 20px;
  text-decoration: none;
}

.enable-midi-button{
  float:right;
    display:block;
    margin-right:0px;
    clear:left;
}

.ui-tabs-anchor:focus{
  outline-color: #98FB98;
}

#tabs {
  background: url('../img/paper_fibers.png');
}


.signup-error-div p {
  color: #FF643C;
}

.login-error-div p {
  color: #FF643C;
}

/* Help modals*/

.bbm-modal__section img {
  margin: 0 auto;
  display: block;
  border: 1px solid #aaa;
}

#help-pg1 {
  float: left;
  margin-right: 10px;
}


