<div id="p-wrapper"> 
    <ul id="piano"> 
        <li><div class="anchor" id="C3"></div></li> 
        <li><div class="anchor" id="D3"></div><span id="Db3"></span></li> 
        <li><div class="anchor" id="E3"></div><span id="Eb3"></span></li> 
        <li><div class="anchor" id="F3"></div></li> 
        <li><div class="anchor" id="G3"></div><span id="Gb3"></span></li> 
        <li><div class="anchor" id="A3"></div><span id="Ab3"></span></li> 
        <li><div class="anchor" id="B3"></div><span id="Bb3"></span></li> 
        <li><div class="anchor" id="C3"></div></li> 
        <li><div class="anchor" id="D4"></div><span id="Db4"></span></li> 
        <li><div class="anchor" id="E4"></div><span id="Eb4"></span></li> 
        <li><div class="anchor" id="F4"></div></li> 
        <li><div class="anchor" id="G4"></div><span id="Gb4"></span></li> 
        <li><div class="anchor" id="A4"></div><span id="Ab4"></span></li> 
        <li><div class="anchor" id="B4"></div><span id="Bb4"></span></li> 
        <li><div class="anchor" id="C5"></div></li>  
        <li><div class="anchor" id="D5"></div><span id="Db5"></span></li> 
        <li><div class="anchor" id="E5"></div><span id="Eb5"></span></li> 
        <li><div class="anchor" id="F5"></div></li>  
        <li><div class="anchor" id="G5"></div><span id="Gb5"></span></li> 
        <li><div class="anchor" id="A5"></div><span id="Ab5"></span></li> 
        <li><div class="anchor" id="B5"></div><span id="Bb4"></span></li> 
        <li><div class="anchor" id="C6"></div></li> 
    </ul> 
</div> 


<style>

:focus { 
  outline:none !important; 
} 

/* Piano Wrapper */ 
#p-wrapper { 
  background:#000; 
  background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  width:960px;  // set the width of piano here
  position:relative; 
  left:-20px; 
  -webkit-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
  -moz-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
  box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
  border:2px solid #333; 
  -webkit-border-radius:0 0 5px 5px; 
  -moz-border-radius:0 0 5px 5px; 
  border-radius:0 0 5px 5px; 
  -webkit-animation:taufik 2s; 
  -moz-animation:taufik 2s; 
  animation:taufik 2s; 
    margin:0px; 
  padding:0px; 
  list-style:none; 
} 

/* Tuts */ 
ul#piano { 
  display:block; 
  /*width:100%; */
  height:240px; 
  border-top:2px solid #222; 
} 

ul#piano li { 
  list-style:none; 
  float:left; 
  display:inline; 
  background:#aaa; 
  width:40px; 
  position:relative; 
} 

ul#piano li a,ul#piano li div.anchor { 
  display:block; 
  height:220px; 
  background:#fff; 
  background:-webkit-linear-gradient(-30deg,#f5f5f5,#fff); 
  background:-moz-linear-gradient(-30deg,#f5f5f5,#fff); 
  background:-ms-linear-gradient(-30deg,#f5f5f5,#fff); 
  background:-o-linear-gradient(-30deg,#f5f5f5,#fff); 
  background:linear-gradient(-30deg,#f5f5f5,#fff); 
  border:1px solid #ccc; 
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7); 
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7); 
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7); 
  -webkit-border-radius:0 0 3px 3px; 
  -moz-border-radius:0 0 3px 3px; 
  border-radius:0 0 3px 3px; 
} 

ul#piano li a:active,ul#piano li div.anchor:active { 
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4); 
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4); 
  box-shadow:0 2px 2px rgba(0,0,0,0.4); 
  position:relative; 
  top:2px; 
  height:216px; 
} 

ul#piano li a:active:before,ul#piano li div.anchor:active:before { 
  content:""; 
  width:0px; 
  height:0px; 
  border-width:216px 5px 0px; 
  border-style:solid; 
  border-color:transparent transparent transparent rgba(0,0,0,0.1); 
  position:absolute; 
  left:0px; 
  top:0px; 
} 

ul#piano li a:active:after,ul#piano li div.anchor:active:after { 
  content:""; 
  width:0px; 
  height:0px; 
  border-width:216px 5px 0px; 
  border-style:solid; 
  border-color:transparent rgba(0,0,0,0.1) transparent transparent; 
  position:absolute; 
  right:0px; 
  top:0px; 
} 

/* Black Tuts */ 
ul#piano li span { 
  position:absolute; 
  top:0px; 
  left:-12px; 
  width:20px; 
  height:120px; 
  background:#333; 
  background:-webkit-linear-gradient(-20deg,#333,#000,#333); 
  background:-moz-linear-gradient(-20deg,#333,#000,#333); 
  background:-ms-linear-gradient(-20deg,#333,#000,#333); 
  background:-o-linear-gradient(-20deg,#333,#000,#333); 
  background:linear-gradient(-20deg,#333,#000,#333); 
  z-index:10; 
  border-width:1px 2px 7px; 
  border-style:solid; 
  border-color:#666 #222 #111 #555; 
  -webkit-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4); 
  -moz-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4); 
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4); 
  -webkit-border-radius:0 0 2px 2px; 
  -moz-border-radius:0 0 2px 2px; 
  border-radius:0 0 2px 2px; 
} 

ul#piano li span:active { 
  border-bottom-width:2px; 
  height:123px; 
  -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000; 
  -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000; 
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000; 
} 

.clear { 
  clear:both; 
} 


/* Animation */ 
@-webkit-keyframes taufik{ 
from{opacity:0;} 
to{opacity:1;} 
} 
@-moz-keyframes taufik{ 
from{opacity:0;} 
to{opacity:1;} 
} 
@keyframes taufik{ 
from{opacity:0;} 
to{opacity:1;} 
}  
</style>